/* 후손선택자 */
section h1 {
    background-color: darkblue;
    color: white;
}
/* 자식선택자 */
section > p{
    font-size: 1.2em;
    font-weight: 700;
}

/* 인접선택자 */
#div-test+div{
    background-color: beige;
}

#div-test~ div{
    font-weight: 900;
    color: darkgreen;

}
#room+p{
    background-color: #ccc;
}
/* 속성 선택자 
선택자[속성]
*/

/* id 속성을 가진 요소를 선택 */
.div-class[id]{
    border: 1px solid black;
}

/* div 중에 name 속성이 name1와 일치하는 태그 */
.div-class[id=name1]{
    background-color: pink;
}
div[class$=class]{
    color: plum;
    background-color: aquamarine;
}
/* class속성의 값이 div로 시작되는  */
.div-class[class^=div]{
    background-color: #ccc;
}
/* id 속성의 값이 name을 포함하는 */
.class-div[id*=name]{
    background-color: red;
}

/* class속성의 값이 class로 끝나는 */
/* div[class$=class]{
    padding: 20px;
} */
/* class 속성의 값에 p20이 포함되어 있는 경우 속성값이 띄어쓰기로 구분 */
div[class~=p40]{
    padding: 40px;
}